Requirements for Survey form:
 title with id="title" in H1 sized text.

short explanation with id="description" in P sized text.

form with id="survey-form".
-------------
Inside the form element,

 name in a field with id="name".

 an email in a field with id="email".
an email that is not formatted correctly, an HTML5 validation error.

 a number in a field with id="number".
non-numbers in the number input, I will see an HTML5 validation error.

numbers outside the range of the number input,
which are defined by the min and max attributes,
an HTML5 validation error.

For the name, email, and number input
fields inside the form, corresponding labels that d
escribe the purpose of each field with the following
ids: id="name-label", id="email-label", and id="number-label".


For the name, email, and number input fields,
 placeholder text that gives me a description or
 instructions for each field.

select an option from a dropdown that has a corresponding id="dropdown".

 select a field from one or more groups of radio buttons. Each group should be grouped using the name attribute.

select several fields from a series of checkboxes, each of which must have a value attribute.

presented with a textarea at the end for additional comments.

presented with a button with id="submit" to submit all my inputs.

You can build your project by forking this CodePen pen. Or you can use this CDN link to run the tests in any environment you like: https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js
