body {
  color: black;   /*always mind your semicolons!*/
  background-color: #EEEEEE;
  font-size: 18px
}

form {
  text-align: justify;
}

h1{
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif;
  text-decoration: underline;
  text-align: center;
  font-weight: bolder;
}
